#flag-top {

    background-color: black;
}

#flag-middle {

    background-color: red;
}

#flag-bottom {

    background-color: #ffd700;
}

.stripe {
    height: 100px;
    width: 500px;
}

body{
    margin: 0;
}